<h2>
  DashBoard  <a routerLink="/logout">Logout</a>
</h2>
<div class="row">
<div class="col-6">
<app-pret></app-pret>
</div>
<div class="col-6">
  <app-adherent></app-adherent>
</div>
</div>
<h3 class="mt-5">Depuis le mois dernier au mois suivant</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom du Jeu</th>
      <th scope="col">Date de retour</th>
      <th scope="col">nom(s) adhérent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let recz of tabprets; let myInd = index">
      <th scope="row">{{myInd + 1}}</th>
      <td>{{recz.nom_jeu}}</td>
      <td>{{recz.date_retour}} (Année Mois Jour)</td>
      <td>{{recz.noms_adherent}}</td>
    </tr>
  </tbody>
</table>
