<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data">Jeux Disponibles</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vos prêts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/admin">En cours</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid text-center">
<router-outlet></router-outlet>

</div>


<!--
<a routerLink="/">Home Page</a>
<input type="text" [value]="text" (input)="updateValue($event)" />-->
<!--<input type="text" [(ngModel)]="text2" />-->

<!--
{{text}}


{{text2}}

<table>
    <tr>
      <td>
        S No.
      </td>
      <td>
        name
      </td>
      <td>
        is onlmine
      </td>
    </tr>
    <tr *ngFor= "let record of records; let myIndex = index; let firstRecord = first; let lastRecord = last; let evenRecord = even; let oddRecord = odd;" [ngClass]="{odd: oddRecord, even: evenRecord, first: firstRecord, last: lastRecord}">
      <td>
        {{myIndex + 1}}
      </td>
      <td>
        {{record.name}}
      </td>
      <td>
        {{record.online}}
      </td>
    </tr>
</table>

-->
<!--
JEUX DISPOS
<table>
    <tr>
      <td>
        S No.
      </td>
      <td>
        name
      </td>
      <td>
        is onlmine
      </td>
    </tr>
    <tr *ngFor= "let recz of rec; let myInd = index; let firstRecord = first; let lastRecord = last; let evenRecord = even; let oddRecord = odd;" [ngClass]="{odd: oddRecord, even: evenRecord, first: firstRecord, last: lastRecord}">
      <td>
        {{myInd + 1}}
      </td>
      <td>
        {{recz.nom_jeu}}
      </td>
      <td>
        {{recz.nom_categorie}}
      </td>
    </tr>
</table>

-->


<!--The content below is only a placeholder and can be replaced.-->
<!--
<input type="text" [value]="myVariable" [disabled]="myDisabledValue" />

<input type="text" value={{myVariable}} />

<input type="text" [value]="myVariable2" [disabled]="myDisabV" />


<button (click)="callMyFunction()">hey there</button>

oui
<app-hello></app-hello>

<div *ngFor= "let l of list">
{{l}}</div>
<button (click)="addTC()">Add TC</button>
<button (click)="removeTC()">Remove TC</button>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->
