<div class="col-12">
<p>Jeux Dispos</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom du Jeu</th>
      <th scope="col">Nom de la catégorie</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let recz of rec; let myInd = index; let firstRecord = first; let lastRecord = last; let evenRecord = even; let oddRecord = odd;" [ngClass]="{odd: oddRecord, even: evenRecord, first: firstRecord, last: lastRecord}">
      <th scope="row">{{myInd + 1}}</th>
      <td>{{recz.nom_jeu}}</td>
      <td>{{recz.nom_categorie}}</td>
    </tr>
  </tbody>
</table>

</div>
